@using PagedList;
@using PagedList.Mvc;


@model IPagedList<CliffPortfolio.Models.CliffBlogPost>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{

	<p>
		<br />
		@Html.ActionLink("Create New Blog Post", "Create")
		<br />
		<br />
	</p>

}

<html lang="en">
<head>
	<title>Cliff's Blog Index</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="~/Assets/blog bootstrap -bona/common-css/bootstrap.css" rel="stylesheet">
	<link href="~/Assets/blog bootstrap -bona/common-css/ionicons.css" rel="stylesheet">
	<link href="~/Assets/blog bootstrap -bona/layout-1/css/styles.css" rel="stylesheet">
	<link href="~/Assets/blog bootstrap -bona/layout-1/css/responsive.css" rel="stylesheet">



	<!-- Syntax Highlighter -->
	<link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
	<link href="~/Content/SyntaxHighlighter/shCoreEmacs.css" rel="stylesheet" />
	<link href="~/Content/SyntaxHighlighter/shThemeEmacs.css" rel="stylesheet" />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="js/html5shiv.js"></script>
	  <script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Blog Section -->
	<section class="blog-area section">
		<div class="container">

			<div class="row">
				@foreach (var item in Model)

				{

					string strBody;
					if (item.Body.Length > 60)
					{
						strBody = string.Concat(item.Body.Substring(0, 60), "...");
					}
					else
					{
						strBody = item.Body;
					}

					<div class="col-lg-4 col-md-6">
						<div class="card h-100">
							<div class="single-post post-style-1">

								@if (User.IsInRole("Admin"))
								{
									@Html.ActionLink("Edit", "Edit", new { id = item.Id });
									<b>------</b>
									@Html.ActionLink("Delete", "Delete", new { id = item.Id });
									<b>------</b>
									@Html.DisplayFor(modelItem => item.Slug);

								}

								<div class="blog-image">
									@*<figure>*@
									<img src="@item.MediaURL" @*width="200" height="40"*@ alt="Blog Image">
									@*</figure>*@
								</div>
								<div class="blog-info">
									<h4 class="title">
										@Html.DisplayFor(modelItem => item.Title)
									</h4>

									<h5> @Html.Raw(strBody)</h5>

									<h5>@Html.ActionLink("Read More", "Details", new { slug = item.Slug })</h5>
									<ul class="post-footer">
										<li><a href="#"><i class="ion-heart"></i>57</a></li>
										<li><a href="#"><i class="ion-chatbubble"></i>@item.Comments.Count()</a></li>
										<li><a href="#"><i class="ion-eye"></i>138</a></li>
									</ul>
								</div>

							</div>
						</div><!-- single-post -->
					</div><!-- card -->
				}
			</div><!-- col-lg-4 col-md-6 -->
		</div>
	</section>
	<!-- End of Blog Section -->



	@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, searchStr = ViewBag.Search }))

	@*PagedListRenderOptions.ClassicPlusFirstAndLast)*@


	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
		<script>
			// Replace the <textarea id="editor1"> with a CKEditor
			// instance, using default configuration.
			CKEDITOR.replace('editor1');
		</script>

		<script src="~/Assets/blog bootstrap -bona/common-js/jquery-3.1.1.min.js"></script>

		<script src="~/Assets/blog bootstrap -bona/common-js/tether.min.js"></script>

		<script src="~/Assets/blog bootstrap -bona/common-js/bootstrap.js"></script>

		<script src="~/Assets/blog bootstrap -bona/common-js/scripts.js"></script>

	</body>

</html>
	}

