@model IEnumerable<CliffPortfolio.Models.BlogComment>

@{
	ViewBag.Title = "Index";
}

<h2>Blog Comments Index</h2>

<!--I'll not allow normal user to get t this page from the Blog Index page-->
@*@if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
	{

		<p>
			<br />
			@Html.ActionLink("Create New", "Create")
			<br />
			<br />
		</p>
	}*@


<html lang="en">
<head>
	<title>TITLE</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

	<!-- Stylesheets -->
	<link href="~//Assets/blog bootstrap -bona/common-css/bootstrap.css" rel="stylesheet">
	<link href="~//Assets/blog bootstrap -bona/common-css/ionicons.css" rel="stylesheet">
	<link href="~//Assets/blog bootstrap -bona/layout-1/css/styles.css" rel="stylesheet">
	<link href="~/Assets/blog bootstrap -bona/layout-1/css/responsive.css" rel="stylesheet">

</head>
<body>



	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Author.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Post.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Body)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Updated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdateReason)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Author.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Post.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Body)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Updated)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdateReason)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}

	</table>


	<div>
		<!-- row -->
		<div>
			<!-- container -->

			<section class="blog-area section">
				<div class="container">
					<div class="row">
						@foreach (var item in Model)
						{
							<div class="col-lg-4 col-md-6">
								<div class="card h-100">
									<div class="single-post post-style-1">

										@if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
										{
											@Html.ActionLink("Edit", "Edit", new { id = item.Id });
											<b>------</b>
											@Html.ActionLink("Delete", "Delete", new { id = item.Id });
											<b>------</b>
											@*@Html.DisplayFor(modelItem => item.Slug);*@
										}

										@*<div class="blog-image"><img src="@item.MediaURL" alt="Blog Image"></div>
											<div class="blog-info">*@

										@*<h4 class="title">
												@Html.ActionLink(item.Title, "Details", new { slug = item.Slug })
											</h4>
											@Html.Raw(item.Body)*@


										<b>

										</b>

										<ul class="post-footer">
											<li><a href="#"><i class="ion-heart"></i>57</a></li>
											<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
											<li><a href="#"><i class="ion-eye"></i>138</a></li>
										</ul>

									
								</div><!-- single-post -->
							</div><!-- card -->
						</div><!-- col-lg-4 col-md-6 -->
					}
					</div><!-- col-lg-8 col-md-12 -->
				</section><!-- section -->
			</div><!-- row -->
		
		</div><!-- row -->
		

		@section Scripts {
			@Scripts.Render("~/bundles/jqueryval")
			<script>
				// Replace the <textarea id="editor1"> with a CKEditor
				// instance, using default configuration.
				CKEDITOR.replace('editor1');
			</script>
			<script src="~/Assets/blog bootstrap -bona/common-js/jquery-3.1.1.min.js"></script>

			<script src="~/Assets/blog bootstrap -bona/common-js/tether.min.js"></script>

			<script src="~/Assets/blog bootstrap -bona/common-js/bootstrap.js"></script>

			<script src="~/Assets/blog bootstrap -bona/common-js/scripts.js"></script>

		</body>

	</html>
		}
